Repository VSCodium/vscodium.github.io: changes, and which lint-staged commands are due for each by the changed paths.
All: fixpack, xo

.lintstagedrc:

{
	"package.json": "fixpack",
	"*.ts": "xo",
	"*.tsx": "xo"
}

feat: add copy button
  components/command.tsx
  components/install-section.tsx
Due: xo

feat: update license
  LICENSE
  app/page.tsx
  components/site-footer.tsx
  components/site-header.tsx
  components/theme-toggle.tsx
Due: xo

fix: typo
  app/layout.tsx
Due: xo

fix: section menu link
  components/documentation-sidebar.tsx
  lib/documentation.ts
Due: xo

Add deb822 instructions
  _posts/2000-01-05-install.md
Due: none

Add paru to installation instructions for Arch Linux
  _posts/2000-01-05-install.md
Due: none

feat: add copy button to code blocks on install page
  _includes/css/copy-btn.css
  combo.css
  site.js
Due: none

settings for my Frontmatter config
  .gitignore
Due: none

updated rpm repo install instructions
  _posts/2000-01-05-install.md
Due: none

Fix rpm repo instructions (#102)
  .gitignore
  _posts/2000-01-05-install.md
Due: none

build: package lock update
  package-lock.json
Due: none

docs: update readme.md
  README.md
Due: none

fix: nextjs
  package-lock.json
  package.json
Due: fixpack

Link to latest release
  _posts/2000-01-05-install.md
Due: none
